@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,500&family=Sniglet&display=swap');

a {
    text-decoration: underline;
}

body, html {
    @apply font-light text-lg;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-display;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl mb-8;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

.wtr-bg {
    background-image: url('../public/WTR/Pattern.svg');
    background-repeat: repeat;
    background-attachment: fixed;
}

.hero svg, .footer-img svg {
    @apply w-full h-auto;
}

.skip-content:focus {
    @apply not-sr-only drop-shadow-hard;
    position: fixed;
    top: 1rem;
    left: 1rem;
    text-align: center;
    padding: 1rem;
    background: #fff;
    z-index: 999;
}

.icon {
    @apply rounded-full p-2 text-white;
}

.icon.status-yes {
    @apply bg-status-yes;
}

.icon.status-no {
    @apply bg-status-no;
}

.icon.status-planned {
    @apply bg-status-planned;
}

.icon.status-unknown, div.status-evaluating {
    @apply bg-status-unknown;
}