@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300;1,500&family=Sniglet&display=swap');

a {
    text-decoration: underline;
}

body, html {
    @apply font-light text-lg;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-display;
}

h1 {
    @apply text-4xl;
}

#intro:before {
    content: "";
    @apply h-16 -mt-16 block;
}

h2 {
    @apply text-3xl mb-8;
}

h2:before {
    content: "";
    @apply h-20 -mt-20 block;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

.wtr-bg {
    background-image: url('../public/WTR/Pattern.svg');
    background-repeat: repeat;
    background-attachment: fixed;
}

.hero svg, .footer-img svg {
    @apply w-full h-auto;
}

.skip-content:focus {
    @apply not-sr-only drop-shadow-hard;
    position: fixed;
    top: 1rem;
    left: 1rem;
    text-align: center;
    padding: 1rem;
    background: #fff;
    z-index: 999;
}

.icon {
    @apply rounded-full p-2 text-white;
}

.icon.status-yes {
    @apply bg-status-yes;
}

.icon.status-no {
    @apply bg-status-no;
}

.icon.status-planned {
    @apply bg-status-planned;
}

.icon.status-unknown, div.status-evaluating {
    @apply bg-status-unknown;
}

#header {
    @apply bg-white transition-all duration-300 xl:drop-shadow-hard-subtle;
}

#header:not(.transparent) {
    @apply drop-shadow-hard-subtle;
}

#header.transparent {
    @apply bg-transparent shadow-none;
}

#header.transparent.open {
    @apply bg-white;
}

.menu {
    @apply translate-y-[0%] w-full opacity-100 bg-white absolute transition-all duration-500 ease-in-out drop-shadow-hard-subtle;
}

.menu.closed {
    @apply translate-y-[-100%] opacity-0 pointer-events-none xl:translate-y-0 xl:opacity-100 xl:pointer-events-auto;
}

table.support {
    @apply border-x border-slate-400;
}

table.support td {
    @apply border-y border-slate-400 p-2 text-center;
}

table.support th {
    @apply border-y border-slate-400;
}

table.support td:first-child, table.support td:last-child  {
    @apply text-left;
}

.sr-only {
    left: -999rem;
}

#filters li.active {
    @apply outline outline-1 outline-orange;
}